[Unit]
Description=Global Tunnel server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/global-tunnel
ExecStart=/opt/global-tunnel/global-tunnel-server
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
